module.exports = {
	port: 8050,
	static: __dirname + '/static',
	storage: {
		path: __dirname + '/data',
	},
	canvas: {
		width: 512,
		height: 512,
		palette: [
			'#222222',
			'#888888',
			'#E4E4E4',
			'#FFFFFF',
			'#FFA7D1',
			'#E50000',
			'#E59500',
			'#A06A42',
			'#E5D900',
			'#94E044',
			'#7AC143',
			'#00D3DD',
			'#00AEEF',
			'#2E3192',
			'#CF6EE4',
			'#EC008C',
		],
	},
	drawing: {
		pixels: 1,
		timeout: 3,
	},
	sequelize: {
		database: 'database',
		dialect: 'sqlite',
		username: 'root',
		password: '',
		storage: 'database.db',
		logging: false,
	},
	kaptcha: {
		font1path: __dirname + '/static/fonts/kaptcha.fnt',
		font2path: __dirname + '/static/fonts/kaptcha.fnt',
	},
}
