module.exports = {
	port: 8050,
	static: __dirname + '/static',
	storage: {
		path: __dirname + '/data',
	},
	canvas: {
		width: 512,
		height: 512,
		palette: [
			"#FFFFFF"
			"#E4E4E4"
			"#888888"
			"#222222"
			"#FFA7D1"
			"#E50000"
			"#E59500"
			"#A06A42"
			"#E5D900"
			"#94E044"
			"#02BE01"
			"#00D3DD"
			"#0083C7"
			"#0000EA"
			"#CF6EE4"
			"#820080"
		]
	},
	drawing: {
		pixels: 30,
		timeout: 30,
	},
	sequelize: {
		database: 'database',
		dialect: 'sqlite',
		username: 'root',
		password: '',
		storage: 'database.db',
	},
	kaptcha: {
		font1path: __dirname + '/static/fonts/kaptcha.fnt',
		font2path: __dirname + '/static/fonts/kaptcha-2.fnt',
	},
}
